html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #fffff0;
  font-family: Helvetica, Arial, sans;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  margin: 1rem 0;
  font-weight: normal;
  text-decoration: none;
}

#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* Brand */
.brand { display: flex; align-items: center; }
.brand img { height: 6rem; }
.brand h1 { font-size: 2rem; color: #9d9d9d;}
.brand h2 { font-size: 1.6rem; color: #d50; }

/* Page: Hello */
.hello body {   justify-content: center; }
.hello .brand { flex-direction: column; }
.hello .brand img { height: 16rem; }

/* Page: New endpoint */
form, .form-group {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (min-width: 500px) {
  .form-group {
    flex-direction: row;
    line-height: 1.5;
    padding-top: 1.0em;
    padding-left: 10%;
    width: 70%;
  }

  .form-group label {
    width: 22%;
  }

  .form-group input {
    width: 78%;
  }

  .radio-group {
    flex-direction: row;
    line-height: 1.5;
    padding-top: 1.0em;
    padding-left: 10%;
    width: 70%;
  }

  .radio-group label {
     width: 30%;
  }
  .radio-group input {
    text-align: left;
    width: 10%;
  }

  .text-group {
    flex-direction: row;
    padding-top: 1.5em;
    padding-left: 10%;
    text-align: center;
    width: 70%;
  }

  .text-group textarea {
    width: 100%;
  }

  .submit-group {
    flex-direction: row;
    line-height: 1.5;
    padding-top: 1.5em;
    padding-left: 10%;
    text-align: center;
    width: 70%;
  }

  .submit-group input {
    width: 100%;
  }
}

/* Error */
.error body { justify-content: center; }
.error .brand { flex-direction: column; }
.error .brand img { height: 12rem; }
.error-message {
  border: 1px solid #d50;
  border-radius: .5rem;
  color: #d50;
  padding: 1rem .75rem .75rem;
  position: relative;
  font-size: 1.2rem;
}
.error-message::before {
  content: "Error";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: .75rem;
  background: #d50;
  color: #fff;
  border-radius: .25rem;
  padding: .15rem .3rem;
  position: absolute;
  top: -.65rem;
  left: 1rem;
}